@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import 'colors';
@import 'vars';



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Kumbh Sans', sans-serif;
}


*::first-letter {
    text-transform: uppercase;
}


body {
    line-height: 1.8;
    font-weight: normal;
    font-size: 100%;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 0 auto;
}


// header
#header {

    .header-body {
        height: 100px;
        border-bottom: 1px solid $Light-grayish-blue;
        display: grid;
        grid-template-areas:
            'logo nav . . . . . . . . cart avatar';
        justify-content: space-between;
        align-items: center;
    }

    .mobile-menu {
        grid-area: menu;
        display: none;
    }

    .logo-wrapper {
        grid-area: logo;

        .logo {
            fill: $Black;

        }
    }

    .nav {
        grid-area: nav;

        .nav-list {
            @include flex();

            li {
                line-height: 100px;
                position: relative;

                &:not(:last-child) {
                    margin-right: 2em;
                }
            }



            a {
                color: $Dark-grayish-blue;
                display: inline-block;
                line-height: 100px;
                position: relative;

                &::after {
                    content: '';
                    width: 0;
                    height: 3px;
                    background-color: $Orange;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                &:hover {
                    color: $Very-vark-blue;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .cart {
        grid-area: cart;
        cursor: pointer;
        position: relative;

        .cart-item {
            fill: $Dark-grayish-blue;
        }

        &:hover .cart-item {
            fill: $Very-vark-blue;
        }
    }

    .cart-content {
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translateX(-50%);
        width: 350px;
        height: auto;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
        background-color: $White;
        border-radius: 10px;
        z-index: 1000;
        cursor: default;
        display: none;

        &.active {
            display: block;
        }
    }

    .cart-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1em;

        .cart-title {
            font-weight: 700;
        }
    }

    .cart-body {
        padding: 1em;
        border-radius: 0 0 10px 10px;
        height: 200px;
        display: grid;
        place-items: center;

        .cart-body-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cart-item-img {
            width: 3.5em;
            border-radius: 5px;
            overflow: hidden;

            img {
                border-radius: 5px;
            }
        }

        .cart-item-details {
            margin-left: 1em;

            .product-name,
            .price,
            .calc {
                color: $Dark-grayish-blue;
            }

            .total-price {
                color: $Black;
                font-weight: 700;
            }
        }

        .remove-product {
            margin-left: auto;
            cursor: pointer;
        }

        .checkout-btn {
            padding: 1em 2em;
            width: 100%;
            background-color: $Orange;
            color: $White;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1px;
            margin-top: 1em;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .avatar {
        grid-area: avatar;
        border-radius: 50%;
        border: 2px solid transparent;
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;

        &:hover {
            border-color: $Orange;
        }

        img {
            width: 3em;
            height: 100%;
            object-fit: cover;
            position: absolute;
            inset: 0;
        }
    }
}



// showcase
#showcase {
    padding-block: 5em;

    .showcase-body {
        @include grid();
        grid-gap: 1em;
    }

    .product-imgs {
        display: grid;
        place-items: center;
    }

    .product-img {
        width: 80%;
        border-radius: 15px;
        overflow: hidden;

        img {
            cursor: pointer;
        }
    }

    .thumbnails {
        @include flex();
        width: 80%;
        margin-top: 2em;
    }

    .thumbnail {
        margin-right: calc(2em - 2px);
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid transparent;
        cursor: pointer;

        &.active {
            img {
                opacity: .3;
            }

            border-color: $Orange;
        }

        &:hover {
            img {
                opacity: .5;
            }
        }


        &:last-child {
            margin-right: 0;
        }
    }

    // product details
    .product-content {
        display: grid;
        place-items: center;
    }

    .showcase-content-body {
        width: 80%;

        h2 {
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $Orange;
            font-size: 1rem;
            margin-bottom: 1em;
        }

        h1 {
            color: $Black;
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 1em;
        }

        p {
            color: $Dark-grayish-blue;
        }

        .price-section {
            margin-top: 2em;
        }

        .price-content {
            @include flex(row, stretch);
        }

        .price {
            font-size: 2rem;
            color: $Black;
            font-weight: 700;
        }

        .discount {
            margin-left: 1em;
            background-color: $Pale-orange;
            color: $Orange;
            font-weight: 700;
            padding: 0 .5em;
            border-radius: 5px;
        }

        .sale {
            display: block;
            text-decoration-line: line-through;
            font-weight: 700;
            color: $Grayish-blue;
        }

        .amount {
            @include flex(row, stretch);
            margin-top: 2em;
        }

        .amount-btns {
            @include flex();
            background-color: $Light-grayish-blue;
            border-radius: 5px;
        }

        .amount-btn {
            padding: .7em 1em;
        }

        .minus,
        .plus {
            fill: $Orange;
            line-height: 0;
            cursor: pointer;
        }

        .counter {
            font-weight: 700;
        }

        .add-to-cart {
            margin-left: 1em;
        }

        .add-to-cart-btn {
            padding: .8em 3em;
            background-color: $Orange;
            line-height: 1;
            font-size: 1.125rem;
            font-weight: 700;
            color: $White;
            border-radius: 5px;
            @include flex();
            cursor: pointer;

            svg {
                fill: $White;
                margin-right: .5em;
            }

            &:hover {
                opacity: .7;
                box-shadow: 0 20px 15px $Pale-orange;
            }
        }
    }
}


// lightbox
.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1000;
    @include flex(column, center);
    display: none;

    .container {
        width: 30%;
    }

    .close {
        text-align: right;
        margin-bottom: 1em;
        cursor: pointer;

        .close-btn {
            fill: $Orange;
        }
    }

    .product-img {
        border-radius: 15px;
        position: relative;

        img {
            border-radius: 15px;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $White;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        @include flex(column, center);
        cursor: pointer;
        font-size: 1.25rem;

        &:hover {
            color: $Orange;
        }
    }

    .prev {
        left: -20px;
    }

    .next {
        right: -20px;
    }

    .thumbnails {
        @include flex(row, center);
        margin: 1em auto;
        width: 80%;
    }

    .thumbnail {
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid transparent;
        cursor: pointer;

        &.active {
            background-color: $White;
            border-color: $Orange;

            img {
                opacity: .4;
                border-radius: 10px;
            }
        }

        &:hover {
            border-color: $Orange;

            img {
                opacity: .5;
                border-radius: 10px;
            }
        }

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}

















.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}